<div class="form">
<div class="form__container">
<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
    <fieldset class="form__fieldset">
        <label for="name">Nombre:</label>
        <input type="text" id="name" formControlName="name" class="form__input">
        <div *ngIf="(!signUpForm.get('name').valid && signUpForm.get('name').dirty) || submitted" class="error">
            <p>El nombre es incorrecto</p>
        </div>
    </fieldset>
    <fieldset class="form__fieldset">
        <label for="email">Mail:</label>
        <input type="text" id="email" formControlName="email" class="form__input">
        <div *ngIf="(!signUpForm.get('email').valid && signUpForm.get('email').dirty) || submitted" class="error">
            <p>El email es incorrecto</p>
        </div>
    </fieldset>
    <fieldset class="form__fieldset">
        <label for="age">Edad:</label>
        <input type="number" id="age" formControlName="age" class="form__input">
        <div *ngIf="(!signUpForm.get('age').valid && signUpForm.get('age').dirty) || submitted" class="error">
            <p>Debes ser mayor de 16 años</p>
        </div>
    </fieldset>
    <fieldset class="form__fieldset">
        <label for="message">Mensaje:</label>
        <textarea type="text" id="message" formControlName="message" class="form__input-message"></textarea>
        <div *ngIf="(!signUpForm.get('message').valid && signUpForm.get('message').dirty) || submitted" class="error">
            <p>El mensaje es demasiado largo</p>
        </div>
    </fieldset>

    <button type="submit" [disabled]="!signUpForm.valid" class="form__submit-button">Enviar</button>

</form>
</div>
</div>
