@import './../../../../styles/colors.scss';
@import './../../../../styles/fonts.scss';

.form{
    min-width: 560px;
    min-height: 700px;
    
    background-image: linear-gradient(to right, $primary-color ,  $secondary-color );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    &__container{
        min-width: 460px;
        max-width: 750px;
        min-height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__fieldset{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:none;
        margin: 20px;
        color: $primary-font-color;
        
    }
    &__input{
        width: 300px;
        height: 20px;
        border-radius: 10px;
        border: 0px;
        margin: 10px;
        text-align: center;
        &-message{
            width: 300px;
            height: 100px;
            border-radius: 10px;
            border: 0px;
            margin: 10px;
            text-align: center;

            }
    }

    &__submit-button{
        align-self: center;
        text-align: center;
        width: 100%;
        height: 40px;
        margin-top: 30px;
        border-radius: 40px;
        background-color: $primary-color;
        color: $primary-font-color;

    }
}

.error{
    color: rgb(190, 24, 24);
}