@import './../../../../styles/colors.scss';
@import './../../../../styles/fonts.scss';


.hero{
    background-image: url(https://comextic.com/web/wp-content/uploads/2018/07/840099-background-space-2560x1600-photos.jpg);
    min-width: 560px;
    min-height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__container{
        min-width: 460px;
        max-width: 750px;
        min-height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__title{
        color: $primary-font-color;
        font-size: 100px;

    }

    &__welcome{
        color: $primary-font-color;
        font-size: 45px;

    }

    &__description{
        color: $primary-font-color;
        margin-top: 20px;
        font-size: 20px;
        line-height: 150%;

        
    }
}

