<div class="hero">
    <div class="hero__container">
        <h1 class="hero__title">{{hero.title}}</h1>
        <h2 class="hero__welcome">{{hero.name}}</h2>
        <p class="hero__description">{{hero.description}}</p>
    </div>
</div>

