@import './../../../../styles/colors.scss';
@import './../../../../styles/fonts.scss';

.goals{

    min-width: 560px;
    min-height: 600px;
    background-color: $tertiary-color;
    background-image: linear-gradient(to right, $secondary-color , $tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__container{
        min-width: 460px;
        max-width: 750px;
        min-height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    &__title{
        color: $secondary-font-color;
        text-shadow: 1px 1px 2px #b9b05b;
        font-size: 30px;
        

    }

    &__message-container{
        color: $primary-font-color;
        text-shadow: 1px 1px 2px #b9b05b;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 30px;
        

    }

    &__message{
        color: $primary-font-color;
        text-shadow: 1px 1px 2px #b9b05b;
        font-size: 20px;
       
    

    }
}