<div class="goals">
    <div class="goals__container">
        <h2 class="goals__title">{{goals.title}}</h2>
        <div class="goals__message-container">
            <p *ngFor="let message of goals.messages" class="goals__message">-{{message}}
            </p>
        </div>
    </div>
</div>

