@import './../../../styles/colors.scss';
@import './../../../styles/fonts.scss';

.submitted__header{
    height: 150px;
    width: 100%;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $primary-font-color;
    font-size: 20px;
}

.pre-submit{
    height: 150px;
    width: 100%;
    background-image: linear-gradient(to right, $primary-color ,  $secondary-color );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $primary-font-color;
    font-size: 18px;
    text-align: center;
    padding-top: 50px ;

    &-box{
        width: 400px;
    }

}

.submitted__footer{
    height: 800px;
    width: 100%;
    background-image: linear-gradient(to right, $primary-color ,  $secondary-color );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $primary-font-color;
    font-size: 18px;
    text-align: center;
    padding-top: 50px ;

}