
<div *ngIf="form != null" class="submitted__header">
    <div>
    <p>Estás en tu casa, {{form.name}}. ¡Gracias por ponerte en contacto conmigo!</p>
    </div>
</div>
<app-hero [hero]="hero" (newUserEmmit)="subscribedUser($event)"></app-hero>
<app-goals [goals]="goals" (newUserEmmit)="subscribedUser($event)"></app-goals>
<div *ngIf="form == null" class="pre-submit">
    <div class="pre-submit-box">
        <p>Si quieres saber más, ponerte en contacto conmigo o mandarme una crítica construciva (o destructiva), puedes hacerlo rellenándo los siguientes datos:</p>
    </div>      
</div>
<app-form (newUserEmmit)="subscribedUser($event)" *ngIf="form == null"></app-form>
<div *ngIf="form != null" class="submitted__footer">
    <p>{{form.name}}, tu registro ha sido completado correctamente. Gracias por contactarme!</p>
</div>

