/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

$main-font: 'Hammersmith One', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-family: $main-font
}